<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtYi8LxV8LZwJFcRLpTH6FyMRsmT-GN1o</string>
	<key>GCM_SENDER_ID</key>
	<string>284091339508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingProject12</string>
	<key>PROJECT_ID</key>
	<string>code-camp-6193f</string>
	<key>STORAGE_BUCKET</key>
	<string>code-camp-6193f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284091339508:ios:234f3e49b2654a6c59c4a1</string>
</dict>
</plist>